.header {
  display: flex;
  padding: 90px 50px;
  align-items: center;
}

.menu {
  margin-right: 7px;
}

.menu__item {
  margin-right: 30px;
  font-size: 18px;
  list-style-type: circle;
  padding-left: 2px;
  letter-spacing: 0.1px;
}

.menu__item__anchor {
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.menu__item__lots {
  padding-right: 2px;
}

.menu__item__anchor__active {
  text-decoration: none;
}

.menu__item:first-of-type {
  list-style-type: none;
  padding-left: 0;
}

.menu__items {
  display: flex;
}

.logo__img {
  width: 145px;
  height: 108px;
}

.address {
  max-width: 230px;
  margin-left: 188px;
  line-height: 1.3;
  font-style: normal;
  font-size: 18px;
}

.address__item {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.cover {
  background-image: url(../images/cover.jpg);
  position: relative;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 106px;
}

.cover__title {
  font-size: 100px;
  color: white;
  text-transform: uppercase;
  padding: 165px 50px 0;
  font-weight: 700;
  line-height: 1.15;
  display: grid;
  gap: 7px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 60%;
  z-index: 0;
}

.aligned__text {
  letter-spacing: 30px;
  display: block;
  position: relative;
  z-index: 10;
}

.aligned__text__center {
  text-align: center;
  margin-left: 30px;
  top: 15px;
}

.aligned__text__right {
  text-align: right;
  left: 30px;
  top: 25px;
}

.description {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 25px auto 50px;
  align-items: center;
  z-index: 10;
  width: 100%;
}

.button {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 12px 32px;
  text-transform: uppercase;
  font-size: 22px;
}

.description__paragraph {
  margin-right: auto;
  word-spacing: 12px;
  letter-spacing: 1px;
  font-size: 22px;
}

.lots {
  padding: 178px 24px 153px 24px;
}

.lots__title {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 30px;
  margin-left: 40px;
}

.lots__card {
  min-height: 600px;
  display: flex;
  color: white;
  position: relative;
  background-position: center top;
}

.lots__card__article {
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.lots__card:nth-of-type(1) {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__card:nth-of-type(2) {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__card:nth-of-type(3) {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__cards {
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.lots__card__paragraph {
  font-size: 20px;
  color: white;
  line-height: 1.2;
}

.lots__card__anchor {
  text-decoration: none;
  z-index: 10;
}

.lots__card__title {
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: underline;
  letter-spacing: 0.3px;
}

.lots__ankore {
  display: block;
  padding-top: 26px;
  padding-left: 40px;
  font-size: 20px;
}

.white__logo {
  width: 150px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  margin-right: 65px;
}

.about__container {
  display: flex;
  padding: 0.24px;
}

.about__header {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 100px;
  padding-left: 7px;
}

.about__column {
  font-weight: 400;
  font-size: 20px;
}

.about__text {
  display: grid;
  padding-top: 100px;
  letter-spacing: 1px;
  line-height: 1.2;
  gap: 24px;
}

.about__column__logo {
  padding-left: 70px;
}

.socials__image {
  width: 48px;
  height: 48px;
}

.socials__list {
  list-style-type: none;
  display: flex;
  gap: 48px;
}

.footer {
  padding: 182px 52px 85px;
  display: flex;
  justify-content: space-between;
}

.footer .address {
  margin-left: 0;
  max-width: 240px;
  text-underline-offset: 5px;
}

.footer__menu {
  margin-left: 25px;
}

.footer__menu__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .menu__item {
  list-style-type: none;
}
