.header {
  display: flex;
  padding: 90px 50px;
  align-items: center;
}

.menu {
  margin-right: 7px;
}

.menu__item {
  margin-right: 30px;
  font-size: 18px;
  list-style-type: circle;
}

.menu__item a {
  text-underline-offset: 2px;
}

.menu__item__lots {
  padding-left: 2px;
  padding-right: 2px;
}

.menu__item__auction {
  padding-left: 2px;
  letter-spacing: 0.1px;
}

.menu__item:first-of-type a {
  text-decoration: none;
}

.menu__item:first-of-type {
  list-style-type: none;
}

.menu__items {
  display: flex;
}

.logo__img {
  width: 145px;
  height: 108px;
}

.address {
  max-width: 230px;
  margin-left: 188px;
  line-height: 25px;
  letter-spacing: 1px;
}

.phone,
.mail {
  text-decoration: underline;
}

.cover {
  background-image: url(../images/cover.jpg);
  min-height: 100px;
  position: relative;
  padding: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.cover__title {
  font-size: 100px;
  color: white;
  text-transform: uppercase;
  padding: 165px 50px 0;
  font-weight: 700;
  z-index: 10;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.365);
  z-index: 0;
}

.aligned__text {
  letter-spacing: 30px;
  display: block;
  margin-bottom: 7px;
}

.aligned__text__center {
  text-align: center;
  margin-left: 30px;
  position: relative;
  top: 8px;
}

.aligned__text__right {
  text-align: right;
  position: relative;
  top: 20px;
  left: 30px;
}

.description {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 16px auto 50px;
  align-items: center;
  z-index: 10;
}

.button {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 12px 32px;
  text-transform: uppercase;
}

.description__paragraph {
  margin-right: 105px;
  word-spacing: 11px;
  letter-spacing: 1px;
}

.lots {
  padding: 178px 24px 153px 24px;
}

.lots__title {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 30px;
  margin-left: 40px;
}

.lots__card {
  min-width: 330px;
  min-height: 600px;
  display: flex;
  overflow: hidden;
  color: white;
  position: relative;
}

.lots__card__article {
  background-size: cover;
  background-position: center;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.first_card {
  background-image: url(../images/card-lot-01.jpg);
}

.second_card {
  background-image: url(../images/card-lot-02.jpg);
}

.third_card {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.lots__card__paragraph {
  font-size: 20px;
  color: white;
  word-spacing: 4px;
  line-height: 1.2;
}

.lots__card__anchor {
  text-decoration: none;
  z-index: 10;
}

.lots__card__title {
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: underline;
  letter-spacing: 0.3px;
}

.lots__ankore__wrap {
  padding-top: 26px;
  padding-left: 40px;
  font-size: 20px;
}

.white__logo {
  width: 150px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  margin-right: 65px;
}

.about__container {
  display: flex;
  padding: 0.24px;
}

.about__header {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 100px;
}

.about__column {
  font-weight: 400;
  font-size: 20px;
}

.about__paragraph__one {
  padding-top: 100px;
}

.about__paragraph__two {
  padding-top: 24px;
}

.about__text {
  letter-spacing: 1px;
}

.about__column__logo {
  padding-left: 70px;
}

.socials__image {
  width: 48px;
  height: 48px;
}

.footer .menu__item {
  list-style-type: none;
}

.socials__list {
  list-style-type: none;
  display: flex;
  gap: 48px;
}

.footer {
  padding: 184px 52px 85px;
  display: flex;
  justify-content: space-between;
}

.footer__addresses {
  width: 265px;
}

.footer__menu__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
